* {
  margin: 0;
  padding: 0;
}
/* common desing */
/* body {
    width: 100%;
  max-width: 1600px;
  margin: 0 auto;
} */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  color: white;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
   background-color: #3a7dc9;
    border-radius: 30px;
     transition: all 0.3s ease-in-out ;
    
}
/*  end common desing */
.navigation {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
}
.nav-image {
  width: 139px;
  height: 60px;
}
.nav-list {
  & ul {
    list-style: none;
    display: flex;
    gap: 32px;
  }
  & ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    
  }
  & ul li a:hover{
     color: #103bc9;
     font-size: 20px;
     transition: all 0.3s ease-in-out ;
  }
}

.hero {
  background-image: url("image/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 674px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h3 {
    margin-top: 16px;
    color: white;
    font-size: 72px;
    font-weight: bold;
  }
  & h2 {
    color: #30b868;
    font-weight: bold;
    font-size: 72px;
  }
  & p {
    margin-top: 16px;
    font-size: 18px;
    color: white;
  }
}
.hero-buttons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  & .hero-btn2 {
    background: none;
    border: 1px solid white;
  }
}
.hero-text-top {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: white;
  border: 1px solid white;
  border-radius: 1000px;
  & h4 {
    color: #469165;
  }
}
/* cards section desing */
.cards-section {
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.note {
  text-align: center;
  & h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
  }
  & p {
    margin-top: 16px;
    color: #627382;
  }
}

.cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 24px;
  padding: 44px 120px;
}
.card {
  padding: 70px 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px #0000000f;
  cursor: pointer;
  & .image-div {
    background: #f95555;
    border-radius: 100%;
    padding: 13px;
  }
  & .image-div img {
    width: 32px;
    height: 32px;
  }
  & h2 {
    font-size: 24px;
    font-weight: 700;
    color: #001931;
  }
  & p {
    color: #627382;
    font-size: 16px;
    width: 65%;
  }
}
.card:hover{
  box-shadow: 10px 10px 10px 10px #0000000f;
  transform: scale(1.01);
   transition: all 0.3s ease-in-out ;
}

/* brain section style  */
.brain {
  display: flex;
  padding: 120px;
  justify-content: space-around;
  align-items: center;

}
.brain-image {
  width: 600px;
  height: 600px;
}
.knowledge-text {
  width: 50%;
  & h4 {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  & h2 {
    font-size: 48px;
    font-weight: bold;
    width: 70%;
    margin-top: 16px;

    color: #001931;
  }
  & .text-p {
    color: #627382;
    font-size: 16px;
    margin-top: 16px;
    width: 65%;
  }
}
.contents {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  & .brain-containt {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  & .brain-containt img {
    width: 20px;
    height: 20px;

  }
  & .brain-containt p {
    color: #001931;
    font-size: 16px;
    font-weight: 500; 
  }
}

/* Get Early Access section desing  */
.early-access{
  background-color: #F7F6F2;
  width: 80%;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px;
  text-align: center;
  & h2{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
  }
  & p{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    width: 70%;
    margin: 0 auto;
    margin-top: 16px;
  }
  & button{
    margin-top: 24px;

  }
  & .early-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 16px;


  }
  & .early-link a{
    text-decoration: none;
    font-size:16px ;
    color: #627382;
  }
  & .early-link a:hover{
    font-size:20px ;
     transition: all 0.3s ease-in-out ;

  }
}
/* footer section desing  */
footer{
  background-color: #001931;
  padding: 120px 120px 30px 120px;
}
.footer-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-image{
  width: 139px;
  height: 60px;

}
.footer-link{
  display: flex;
  flex-direction: column;
  gap: 16px;
  & h2{
    color: white;
    font-size: 20px;
    font-weight: 500;

  }
  & .social-icon-div{
    display: flex;
    gap: 16px;

  }
  & .social-icon-div i{
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  & .social-icon-div i:hover{
    background-color: black;
    color: white;
     transition: all 0.3s ease-in-out ;
  }
}
.footer-copywrite{
  text-align: center;
  color: #FAFAFA;
  font-size: 16px;
  margin-top: 110px;
}